.profile{
    display: flex;
    width: 90%;
    align-content: center;
    justify-content: space-around;
    padding: 5px;
    background-color: lightblue;
    margin: 20px auto;
    border-radius: 5px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.profile > div {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.profile img {
    box-sizing: border-box;
    border-radius: 50%;
    width: 200px;
    height: 200px;
}

.profile p {
    text-align: center;
}

.profile a {
    text-decoration: none;
    text-decoration: underline;
    color: black;
}

.profile a:hover {
    text-decoration: none;
}