.saved {
    height: calc(100vh - 75px);
    box-sizing: border-box;
    width: 200px;
    background-color: black;
    padding: 10px;
    color: white;
    text-align: center;
    overflow-y: scroll;
}

.saved a {
    text-decoration: none;
    color: white;
    margin: 5px 0;
}

.saved a:hover{
    text-decoration: underline;
}

.saved div {
    display: flex;
    flex-direction: column;
}