.followers {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    margin: 0 auto;
}

.followers div {
    cursor: pointer;
}

.followers img {
    width: 70px;
    border-radius: 50%;
}

.followers p {
    position: absolute;
    background: bisque;
    border-radius: 5px;
    margin-top: -20px;
    padding: 5px;
    display: none;
}

.followers div:hover p{
    display: block;
}

