.followers {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    margin: 0 auto;
    position: relative;
}

.followers div {
    cursor: pointer;
}

.followers img {
    width: 70px;
    border-radius: 50%;
}

.followers p {
    position: absolute;
    background: bisque;
    border-radius: 5px;
    margin-top: -20px;
    padding: 5px;
    display: none;
}

.followers div:hover p{
    display: block;
}

.load_button {
    display: block;
    height: 50px;
    width: 100px;
    margin: 15px auto;
    border-radius: 5px;
    color: white;
    background-color: black;
    font-size: 16px;
    font-family: sans-serif;
    transition: .5s;
    cursor: pointer;
}

.load_button:hover{
    color: grey;
}

.no_load{
    visibility: hidden;
    height: 50px;
}

.text-center{
    text-align: center;
}